name: Deploy to S3 and Invalidate CloudFront

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Assume Role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.CICD_ROLE }}
          aws-region: eu-central-1
          role-session-name: cicd
          aws-access-key-id: ${{ secrets.CICD_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CICD_ACCESS_KEY }}
          role-duration-seconds: 1200     


      - name: Upload files to S3
        run: aws s3 sync ./public s3://belgraderaveclub.com --delete

      - name: Invalidate CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id E1P3PDIT8TJW7G --paths "/*"

      - name: test
        run: echo bilo sta
